body {
	margin: 0px; padding: 10px;
	font-size: 14px;
	color: #ccc;
}
body, #base {
	background: #121314;
	min-height: 1200px;
}
h1, h2, h3 {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 50px;
	font-weight: normal;
	font-family: Segoe UI Semilight, Helvetica, Arial;
	color: #ddd;
	vertical-align: middle;
	border-width: 0px;
	height: 50px;
	margin-top: 15px;
}
#configuration, #select_all, #update {
	float: left;
	margin-top: -2px;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	display: inline-block;
	background: #333;
	color: #ddd;
	border-width: 0px;
	padding: 8px 10px 8px 10px;
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 0px 0px 1px #000;
	margin-left: 23px;
}
#update {
	margin: 35px 0px 0px 55px;
}
#configuration:hover {
	opacity: 1;
	background: #444;
}
#select_all:hover, #update:hover {
	background: #444;
	color: #eee;
	text-decoration: none;
}
img {
	vertical-align: middle;
}
#row_left, #row_right {
	float: left;
	min-width: 300px;
	margin-bottom: 20px;
}
#row_left {
	float: left;
	padding-right: 10px;
	margin-right: 10px;
}
#row_right {
	float: left;
	margin-right: 10px;
}
.field_label {
	margin-bottom: 1px;
	padding: 5px 5px 5px 15px;
	color: #777;
	font-size: 17px;
}
#h_qualifier {
	margin-top: 10px;
}
select {
	width: 222px;
	border-width: 0px;
	padding: 4px;
	background: #ddd;
	cursor: pointer;
}
input {
	background-color: #ddd;
	border: 1px solid black;
	text-align: center;
}
input[type=checkbox] {
	cursor: pointer;
}
.selector_label {
	cursor: pointer;
	padding: 8px 10px 8px 10px;
	display: block;
	border-bottom: 1px solid #222;
}
.selector_label:hover {
	color: #fff;
	background-color: #222;
}
.selector_label_checked {
	background: #222 url(../img/accept.png) 5px 5px no-repeat !important;
	border-bottom: 1px solid #333;
}
.selector_label_checked:hover {
	background-color: #333 !important;
	border-bottom: 1px solid #444;
}
#dragdrop_area {
	display: block;
}
#dragdrop_area textarea#dropArea {
	width: 98%;
	min-height: 180px;
	height: auto;
	color: #ddd;
	background-color: #222;
	border-width: 0px;
	overflow-y: auto;
	border-radius: 0px;
	font-size: 16px;
	padding: 10px;
	line-height: 25px;
}
#info_row {
	height: 38px;
	clear: both;
}
#info_row span#playlistName {
	font-weight: bold;
	font-family: Segoe UI Semilight, Helvetica, Arial;
	color: #82b919;
	font-size: 20px;
	float: left;
	margin-top: 10px;
}
span#playlistInfos {
	font-weight: normal;
	color: #999999;
}